.container {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(7,1fr);
    grid-gap:1rem

  }

  .grid {
    padding: 2rem;
    border: #ccc 1px solid;
    text-align: center;
  }

  .grid:first-child {
    
    background: url(./images/gal-1.jpeg)no-repeat center center/cover;
    grid-column: 1 /span 2;
    grid-row: 1 / span 2;

  }

  .grid:nth-child(2) {
    
    background: url(./images/gal-2.jpeg)no-repeat center center/cover;
    grid-column: 3 /span 3;
    grid-row: 1 / span 3;
  }

  .grid:nth-child(3) {
    
    background: url(./images/gal-3.jpeg)no-repeat center center/cover;
    grid-column: 6 /span 1;
    grid-row: 1 / span 2;
  }

  .grid:nth-child(4) {
    
    background: url(./images/gal-4.jpeg)no-repeat center center/cover;
    grid-column: 7 /span 2;
    grid-row: 1 / span 2;
  }

  .grid:nth-child(5) {
    
    background: url(./images/gal-5.jpeg)no-repeat center center/cover;
    grid-column: 1 /span 2;
    grid-row: 3 / span 3;
  }

  .grid:nth-child(6) {
    
    background: url(./images/gal-6.jpeg)no-repeat center center/cover;
    grid-column: 3 /span 2;
    grid-row: 4 / span 2;
  }

  .grid:nth-child(7) {
    
    background: url(./images/gal-7.jpeg)no-repeat center center/cover;
    grid-column: 5 /span 1;
    grid-row: 4 / span 1;
  }

  .grid:nth-child(8) {
    
    background: url(./images/gal-8.jpeg)no-repeat center center/cover;
    grid-column: 6 /span 2;
    grid-row: 3 / span 2;
  }

  .grid:nth-child(9) {
    
    background: url(./images/gal-9.jpeg)no-repeat center center/cover;
    grid-column: 8 /span 1;
    grid-row: 3 / span 3;
  }

  .grid:nth-child(10) {
    
    background: url(./images/gal-10.jpeg)no-repeat center center/cover;
    grid-column: 1 /span 1;
    grid-row: 6 / span 2;
  }

  .grid:nth-child(11) {
    
    background: url(./images/gal-11.jpeg)no-repeat center center/cover;
    grid-column: 2 /span 2;
    grid-row: 6 / span 2;
  }

  .grid:nth-child(12) {
    
    background: url(./images/gal-12.jpeg)no-repeat center center/cover;
    grid-column: 4 /span 1;
    grid-row: 6 / span 2;
  }

  .grid:nth-child(13) {
    
    background: url(./images/gal-13.jpeg)no-repeat center center/cover;
    grid-column: 5 /span 3;
    grid-row: 5 / span 3;
  }

  .grid:nth-child(14) {
    
    background: url(./images/gal-14.jpeg)no-repeat center center/cover;
    grid-column: 8 /span 1;
    grid-row: 6 / span 2;
  }